.productDisplay{
  /* margin-top: 2.5rem; */
  margin-bottom: 7.5rem;
 
  /* border: 0.1rem greenyellow solid; */
  text-align: center;
  text-transform: uppercase;
  flex-direction: column; 
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}


 .productDisplay__reflection{
   width: 5.9rem;
   height: 0.9rem;
   background-color: #000000;
   filter: blur(1rem);  
 }

 .one{
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
 }

.productDisplay__products{
  width: 100%;
  height: 13.6rem;
  /* border: 1rem red solid; */
  position: relative;
  margin-bottom: 1rem;
  /* margin-left:1.5rem;  
  margin-right:1.5rem;   */
}

.productDisplay__list{
  position: absolute;
  flex-direction: column;
  background-color: transparent;
   left: 0; 
  right: 0; 
  /* margin-left: auto; 
  margin-right: auto;  */
  top:0rem;
  bottom: 1.38rem;
  /* align-items: center;
  align-content: center; */
}

.productDisplay__name{
font-weight: 700;
font-size: 1rem;
line-height: 1.25rem;
text-align: center;
letter-spacing: 0.06rem;
text-transform: uppercase;
background: transparent;
color: #000000;
margin-top: 2rem;
}

.productDisplay__action{
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.125rem;
  /* identical to box height */

  letter-spacing: 0.06rem;
  text-transform: uppercase;

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.5;

  margin-top: 1rem;  
  background-color: transparent;
  cursor: pointer;
}

.productDisplay__action a{
  text-decoration: none;  
}

.productDisplay__action a,
.productDisplay__action span,
.productDisplay__action a svg{  
  background-color: transparent;
}

.productDisplay__action span{
  margin-right: 1rem;
}

.productDisplay__list img{
  
  background-color:transparent;  
}



.productDisplay__bg--gray{
  width: 100%;
  height: 10.3rem;
  background-color: #F1F1F1;
  position: absolute;
  bottom: 0;
  border-radius: 0.5rem;
}



.product__list--img__headphone,
.product__list--img__speaker,
.product__list--img__earphone{
  object-fit: contain;   
}

.product__list--img__headphone{
  width: 5rem;
  height: 6.5rem;
}
.product__list--img__speaker{
  width: 5.25rem;
  height: 6.3rem;
}
.product__list--img__earphone{
  width: 6.4rem;
  height: 6.5rem;
}

@media screen and (min-width: 600px) {

  .productDisplay{
    margin-left: 2.5rem;
    margin-right: 2.5rem;

    flex-direction: row;
  }

  .productDisplay__products{
    margin: 0rem 0.3rem;
  }

}

@media screen and (min-width: 768px) {

  .productDisplay{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    
    flex-direction: row;
  }

  .productDisplay__products{
    margin: 0rem 0.3rem;
  }

}

@media screen and (min-width: 1200px) {

  .productDisplay{
    /* margin: 7.5rem 10.3rem 10.5rem 10.3rem; */
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }

  .productDisplay__products{
    height: 17.75rem;
  }
  
  .product__list--img__headphone{
    width: 7.625rem;
    height: 10rem;
  }
  .product__list--img__speaker{
    width: 7.625rem;
    height: 9.2rem;
  }
  .product__list--img__earphone{
    width: 7.8rem;
    height: 7.9rem;
    
  }

  .productDisplay__name{
    font-size: 1.12rem;
    line-height: 1.57rem;
    text-align: center;
    letter-spacing: 0.08rem;
  }

  .productDisplay__reflection{
   width: 7.69rem;
   height: 1.125rem;
   
   filter: blur(1rem);  
 }

 .productDisplay__bg--gray{
   height: 12.75rem;
 }

}