.product__count{
  width: 9rem;    
  margin-right: 1rem;
  background-color: #F1F1F1;
  justify-content: space-around;  
}

.product__count > *{
  background-color: #F1F1F1;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 1px;
}